/*CSS styles for the html pages*/

body{
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #FAF4E5;
  margin: 0;
  padding: 0;
}

h1{
  color: #A3B18A;
  text-align: center;
  font-size: 40px;
}

p{
  color: #555555;
  padding: 12px;
  font-size: 20px;
}

button { /* Button styling */
  color: #E94E2E;
  border: none;
  padding: 12px 20px;
  font-size: 12px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}

button:hover{
  background-color: #E94E2E;
  color: white;
}

/* Styles for the  Navbar */
nav{
  background-color: #A3B18A; 
  padding: 10px 0;
}

nav ol{
  margin: 0;
  padding: 0;
  display: flex; /* Align items horizontally */
  justify-content: center;
  list-style-type: none; /* Gets rid of the numbers that come with an ordered list*/
}

nav ol li{
  margin: 0 20px; 
}

nav ol li a{
  color: white;
  text-decoration: none; /* Removes the underline */
  padding: 15px 15px; 
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.4s, color 0.4s; 
}

nav ol li a:hover{
  background-color: #E94E2E; /* Tomato colour background on hover */

  color: white; /* Changes text colour to white when hovering over */
}

nav ol li a:active{
  background-color: #B04A3A;
}